# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Build output
node_modules/
dist/
dist-ssr/

# Tooling caches
.npm
.eslintcache

# Dependency directories
bower_components

# Binaries
build/Release

# Misc
*.tgz
.lock-wscript

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.app
*.app/*
*.build*

# Vite
*.local

# PlayWright Test Reports
playwright-report/
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/db/v13/p11799--c4d3b0/lock.mdb
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/ContentView.swift.o-2YGPN0CHKE2A0
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/DashboardViewModel.swift.o-1PG4FTYRVZ8A7
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/PlaywrightMGM.swift.o-1ETDZGKJ1WIHG
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/ProcessCard.swift.o-237218ZREFJAP
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/ServerMGM.swift.o-11ZGEM89WRT6B
$DashCam\!/.build/index-build/build.db
$DashCam\!/.build/index-build/debug.yaml
$DashCam\!/.build/index-build/plugin-tools.yaml
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/ContentView.d
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/ContentView.swiftdeps
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/ContentView~partial.swiftmodule
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/DashboardApp.emit-module.d
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/DashboardViewModel.d
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/DashboardViewModel.swiftdeps
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/DashboardViewModel~partial.swiftmodule
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/master.priors
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/DashboardApp.build/sources
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/description.json
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/ContentView.swift.o-2YGPN0CHKE2A0
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/DashboardViewModel.swift.o-1PG4FTYRVZ8A7
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/PlaywrightMGM.swift.o-1ETDZGKJ1WIHG
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/ProcessCard.swift.o-237218ZREFJAP
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/index/store/v5/units/ServerMGM.swift.o-11ZGEM89WRT6B
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/Modules/DashboardApp.swiftmodule
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/Modules/DashboardApp.swiftsourceinfo
$DashCam\!/.build/index-build/x86_64-apple-macosx/debug/plugin-tools-description.json
