name: Issue & PR Automation Suite

on:
  issues:
    types: [opened, closed, reopened, labeled, unlabeled, milestoned, demilestoned, edited]
  pull_request:
    types: [opened, closed, reopened, ready_for_review, converted_to_draft, synchronize, edited]
  pull_request_target:
    types: [opened, synchronize]

jobs:
  automation:
    name: Issue & PR Automation Suite
    uses: SillyLittleTech/AutomationSuite@0.1